# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

.DS_Store
node_modules


# Local env files
.env
.env.*
!.env.example

# Logs
logs
*.log

.fleet

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
