$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin media-breakpoint-up($point) {
  @media (min-width: map-get($grid-breakpoints, $point)) {
    @content;
  }
}

@mixin media-breakpoint-down($point) {
  @media (max-width: map-get($grid-breakpoints, $point)) {
    @content;
  }
}